<tr class="tijuana-audit-row">
  <th scope="col">Tijuana</th>
  <% shared_pull_audit_columns.each{|shared_pull_audit_column| %>
    <%- if (IdentityTijuana::ApplicationHelper.pull_audit_columns.include?(shared_pull_audit_column)) %>
      <%- audit_results = IdentityTijuana.audit_method(shared_pull_audit_column) %>
      <%- audit_results_string = "Difference: #{audit_results[:diff]}<br/>Local: #{audit_results[:local]}<br/>External: #{audit_results[:external]}" %>
      <% if audit_results[:diff] == 0 %>
        <td class="alert alert-success" role="alert" rel="tooltip" data-html="true" title="<%= audit_results_string %>">
          <strong><i class="glyphicon glyphicon-ok"></i></strong>
        </td>
      <% elsif audit_results[:diff] > 0 %>
        <td class="alert alert-danger" role="alert" rel="tooltip" data-html="true" title="<%= audit_results_string %>">
          <strong><i class="glyphicon glyphicon-plus"></i></strong>
        </td>
      <% else %>
        <td class="alert alert-warning" role="alert" rel="tooltip" data-html="true" title="<%= audit_results_string %>">
          <strong><i class="glyphicon glyphicon-minus"></i></strong>
        </td>
      <% end %>
    <% else %>
      <td class="alert alert-info" role="alert" rel="tooltip" data-html="true" title="Not Applicable">
        <strong><i class="glyphicon glyphicon-asterisk"></i></strong>
      </td>
    <% end %>
  <% } %>
</tr>
<script>
  $(".tijuana-audit-row [rel='tooltip']").tooltip({container: 'body'});
</script>
